[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "test/themes/ananke"]
	path = test/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "test2/themes/blowfish"]
	path = test2/themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
[submodule "test2/themes/dark-theme-editor"]
	path = test2/themes/dark-theme-editor
	url = https://github.com/JingWangTW/dark-theme-editor.git
